\section*{SKILLS}
{\small\RaggedRight
\textbf{<< skills.line1_label >>:} << skills.line1 | join(', ') >>\par
\textbf{<< skills.line2_label >>:} << skills.line2 | join(', ') >>\par
<% if skills.line3 %>
\textbf{<< skills.line3_label >>:} << skills.line3 | join(', ') >>\par
<% endif %>
\par}
